{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}


<div class="card card-body shadow-sm p-10 mb-4 rounded movform">
  <img src="/img/logo.png" alt="" width="155" height="125" class="mx-auto mb-5 mt-3">
  <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">MovieTitle</label>
      <input type="text" class="form-control text-uppercase shadow-sm p-3" name="title" value="{{idea.title}}">
    </div>
    <div class="form-group">
      <label for="stoStructure">Story Structure</label>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureOne" value="{{idea.stoStructureOne}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureTwo" value="{{idea.stoStructureTwo}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureThree" value="{{idea.stoStructureThree}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureFour" value="{{idea.stoStructureFour}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureFive" value="{{idea.stoStructureFive}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control  shadow-sm p-3 mb-2" name="stoStructureSix" value="{{idea.stoStructureSix}}">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="chaBuild">Character Building</label>
      <textarea name="chaBuild" class="form-control shadow-sm p-3">{{idea.chaBuild}}</textarea>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="duration">Movie Runtime</label>
          <input type="number" class="form-control" name="duration" value="{{idea.duration}}" >
        </div>
        <div class="col-md-6">
          <label for="movieType">Movie Type</label>
          <div class="input-group mb-3">
            <select class="custom-select shadow-sm p-3 text-dark" id="inputGroupSelect01" name="movieType" value="{{idea.movieType}}">
              <option class="make" selected>Choose...</option>
              <option  class="make" value="Documentary Film">Documentary</option>
              <option class="make" value="Short Film">Short</option>
              <option class="make" value="Feature Film">Feature</option>
              <option value="Film Series">Series</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="details">Story Building</label>
      <textarea  name="details" class="form-control" >{{idea.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-danger shadow-sm p-3 btn-block mt-2">Update Movie Idea</button>
  </form>
</div>